=begin
#BitMEX API

### REST API for the BitMEX Trading Platform  [View Changelog](/app/apiChangelog)    #### Getting Started   ##### Fetching Data  All REST endpoints are documented below. You can try out any query right from this interface.  Most table queries accept `count`, `start`, and `reverse` params. Set `reverse=true` to get rows newest-first.  Additional documentation regarding filters, timestamps, and authentication is available in [the main API documentation](https://www.bitmex.com/app/restAPI).  *All* table data is available via the [Websocket](/app/wsAPI). We highly recommend using the socket if you want to have the quickest possible data without being subject to ratelimits.  ##### Return Types  By default, all data is returned as JSON. Send `?_format=csv` to get CSV data or `?_format=xml` to get XML data.  ##### Trade Data Queries  *This is only a small subset of what is available, to get you started.*  Fill in the parameters and click the `Try it out!` button to try any of these queries.  * [Pricing Data](#!/Quote/Quote_get)  * [Trade Data](#!/Trade/Trade_get)  * [OrderBook Data](#!/OrderBook/OrderBook_getL2)  * [Settlement Data](#!/Settlement/Settlement_get)  * [Exchange Statistics](#!/Stats/Stats_history)  Every function of the BitMEX.com platform is exposed here and documented. Many more functions are available.  ##### Swagger Specification  [⇩ Download Swagger JSON](swagger.json)    ## All API Endpoints  Click to expand a section. 

OpenAPI spec version: 1.2.0
Contact: support@bitmex.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module SwaggerClient
  class OrderBookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get current orderbook [deprecated, use /orderBook/L2].
    # 
    # @param symbol Instrument symbol. Send a series (e.g. XBT) to get data for the nearest contract in that series.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :depth Orderbook depth. (default to 25)
    # @return [Array<OrderBook>]
    def order_book_get(symbol, opts = {})
      data, _status_code, _headers = order_book_get_with_http_info(symbol, opts)
      return data
    end

    # Get current orderbook [deprecated, use /orderBook/L2].
    # 
    # @param symbol Instrument symbol. Send a series (e.g. XBT) to get data for the nearest contract in that series.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :depth Orderbook depth.
    # @return [Array<(Array<OrderBook>, Fixnum, Hash)>] Array<OrderBook> data, response status code and response headers
    def order_book_get_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderBookApi.order_book_get ..."
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling OrderBookApi.order_book_get"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling OrderBookApi.order_book_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = "/orderBook"

      # query parameters
      query_params = {}
      query_params[:'symbol'] = symbol
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml', 'text/xml', 'application/javascript', 'text/javascript'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<OrderBook>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderBookApi#order_book_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current orderbook in vertical format.
    # 
    # @param symbol Instrument symbol. Send a series (e.g. XBT) to get data for the nearest contract in that series.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :depth Orderbook depth per side. Send 0 for full depth. (default to 25)
    # @return [Array<OrderBookL2>]
    def order_book_get_l2(symbol, opts = {})
      data, _status_code, _headers = order_book_get_l2_with_http_info(symbol, opts)
      return data
    end

    # Get current orderbook in vertical format.
    # 
    # @param symbol Instrument symbol. Send a series (e.g. XBT) to get data for the nearest contract in that series.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :depth Orderbook depth per side. Send 0 for full depth.
    # @return [Array<(Array<OrderBookL2>, Fixnum, Hash)>] Array<OrderBookL2> data, response status code and response headers
    def order_book_get_l2_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderBookApi.order_book_get_l2 ..."
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling OrderBookApi.order_book_get_l2"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling OrderBookApi.order_book_get_l2, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = "/orderBook/L2"

      # query parameters
      query_params = {}
      query_params[:'symbol'] = symbol
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml', 'text/xml', 'application/javascript', 'text/javascript'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<OrderBookL2>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderBookApi#order_book_get_l2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
