---
swagger: "2.0"
info:
  description: "## REST API for the BitMEX Trading Platform\n\n_If you are building\
    \ automated tools, please subscribe to the_\n_[BitMEX API RSS Feed](https://blog.bitmex.com/api_announcement/feed/)\
    \ for changes. The feed will be updated_\n_regularly and is the most reliable\
    \ way to get downtime and update announcements._\n\n[View Changelog](/app/apiChangelog)\n\
    \n-\n\n#### Getting Started\n\nBase URI: [https://www.bitmex.com/api/v1](/api/v1)\n\
    \n##### Fetching Data\n\nAll REST endpoints are documented below. You can try\
    \ out any query right from this interface.\n\nMost table queries accept `count`,\
    \ `start`, and `reverse` params. Set `reverse=true` to get rows newest-first.\n\
    \nAdditional documentation regarding filters, timestamps, and authentication\n\
    is available in [the main API documentation](/app/restAPI).\n\n_All_ table data\
    \ is available via the [Websocket](/app/wsAPI). We highly recommend using the\
    \ socket if you want\nto have the quickest possible data without being subject\
    \ to ratelimits.\n\n##### Return Types\n\nBy default, all data is returned as\
    \ JSON. Send `?_format=csv` to get CSV data or `?_format=xml` to get XML data.\n\
    \n##### Trade Data Queries\n\n_This is only a small subset of what is available,\
    \ to get you started._\n\nFill in the parameters and click the `Try it out!` button\
    \ to try any of these queries.\n\n- [Pricing Data](#!/Quote/Quote_get)\n\n- [Trade\
    \ Data](#!/Trade/Trade_get)\n\n- [OrderBook Data](#!/OrderBook/OrderBook_getL2)\n\
    \n- [Settlement Data](#!/Settlement/Settlement_get)\n\n- [Exchange Statistics](#!/Stats/Stats_history)\n\
    \nEvery function of the BitMEX.com platform is exposed here and documented. Many\
    \ more functions are available.\n\n##### Swagger Specification\n\n[⇩ Download\
    \ Swagger JSON](swagger.json)\n\n-\n\n## All API Endpoints\n\nClick to expand\
    \ a section.\n"
  version: "1.2.0"
  title: "BitMEX API"
  termsOfService: "https://www.bitmex.com/app/terms"
  contact:
    email: "support@bitmex.com"
host: "www.bitmex.com"
basePath: "/api/v1"
tags:
- name: "Announcement"
  description: "Public Announcements"
- name: "APIKey"
  description: "Persistent API Keys for Developers"
- name: "Chat"
  description: "Trollbox Data"
- name: "Execution"
  description: "Raw Order and Balance Data"
- name: "Funding"
  description: "Swap Funding History"
- name: "Instrument"
  description: "Tradeable Contracts, Indices, and History"
- name: "Insurance"
  description: "Insurance Fund Data"
- name: "Leaderboard"
  description: "Information on Top Users"
- name: "Liquidation"
  description: "Active Liquidations"
- name: "GlobalNotification"
  description: "Account Notifications"
- name: "Order"
  description: "Placement, Cancellation, Amending, and History"
- name: "OrderBook"
  description: "Level 2 Book Data"
- name: "Position"
  description: "Summary of Open and Closed Positions"
- name: "Quote"
  description: "Best Bid/Offer Snapshots & Historical Bins"
- name: "Schema"
  description: "Dynamic Schemata for Developers"
- name: "Settlement"
  description: "Historical Settlement Data"
- name: "Stats"
  description: "Exchange Statistics"
- name: "Trade"
  description: "Individual & Bucketed Trades"
- name: "User"
  description: "Account Operations"
- name: "UserEvent"
  description: "User Events for Auditing"
- name: "Wallet"
  description: "Assets and Networks Data"
- name: "Address"
- name: "UserAffiliates"
- name: "Guild"
- name: "Porl"
  description: "Proof of Reserves/Liabilities"
consumes:
- "application/json"
- "application/x-www-form-urlencoded"
produces:
- "application/json"
- "application/xml"
- "text/xml"
- "application/javascript"
- "text/javascript"
security:
- apiKey: []
  apiSignature: []
  apiExpires: []
paths:
  /announcement:
    get:
      tags:
      - "Announcement"
      summary: "Get site announcements."
      operationId: "Announcement.get"
      parameters:
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Announcement"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /announcement/urgent:
    get:
      tags:
      - "Announcement"
      summary: "Get urgent (banner) announcements."
      operationId: "Announcement.getUrgent"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Announcement"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /apiKey:
    get:
      tags:
      - "APIKey"
      summary: "Get your API Keys."
      operationId: "APIKey.get"
      parameters:
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/APIKey"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /chat/pinned:
    get:
      tags:
      - "Chat"
      summary: "Get pinned message for a channel."
      operationId: "Chat.getPinnedMessage"
      parameters:
      - name: "channelID"
        in: "query"
        required: true
        type: "number"
        format: "double"
        x-exportParamName: "ChannelID"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/PinnedMessage"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /chat:
    get:
      tags:
      - "Chat"
      summary: "Get chat messages."
      operationId: "Chat.get"
      parameters:
      - name: "count"
        in: "query"
        description: "Number of results to fetch."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting ID for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "channelID"
        in: "query"
        description: "Channel id. GET /chat/channels for ids. Global English by default"
        required: false
        type: "number"
        default: 1.0
        format: "double"
        x-exportParamName: "ChannelID"
        x-optionalDataType: "Float64"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Chat"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Chat"
      summary: "Send a chat message."
      operationId: "Chat.new"
      parameters:
      - name: "message"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "Message"
      - name: "channelID"
        in: "formData"
        description: "Channel to post to. Default 1 (English)."
        required: false
        type: "number"
        default: 1.0
        format: "double"
        x-exportParamName: "ChannelID"
        x-optionalDataType: "Float64"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Chat"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /chat/channels:
    get:
      tags:
      - "Chat"
      summary: "Get available channels."
      operationId: "Chat.getChannels"
      parameters: []
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ChatChannel"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /chat/connected:
    get:
      tags:
      - "Chat"
      summary: "Get connected users."
      description: "Returns an array with browser users in the first position and\
        \ API users (bots) in the second position."
      operationId: "Chat.getConnected"
      parameters: []
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/ConnectedUsers"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /execution:
    get:
      tags:
      - "Execution"
      summary: "Get all raw executions for your account."
      description: "This returns all raw transactions, which includes order opening\
        \ and cancelation, and order status\nchanges. It can be quite noisy. More\
        \ focused information is available at `/execution/tradeHistory`.\n\nYou may\
        \ also use the `filter` param to target your query. Specify an array as a\
        \ filter value, such as\n`{\"execType\": [\"Settlement\", \"Trade\"]}` to\
        \ filter on multiple values.\n\nSee [the FIX Spec](http://www.onixs.biz/fix-dictionary/5.0.SP2/msgType_8_8.html)\
        \ for explanations of these fields.\n"
      operationId: "Execution.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Execution"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /execution/tradeHistory:
    get:
      tags:
      - "Execution"
      summary: "Get all balance-affecting executions."
      operationId: "Execution.getTradeHistory"
      parameters:
      - name: "targetAccountId"
        in: "query"
        description: "AccountId fetching the trade history, must be a paired account\
          \ with main user."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TargetAccountId"
        x-optionalDataType: "Float64"
      - name: "targetAccountIds"
        in: "query"
        description: "AccountIds fetching the trade history, must be a paired account\
          \ with main user. Can be wildcard * to get all accounts linked to the authenticated\
          \ user"
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "TargetAccountIds"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Execution"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /funding:
    get:
      tags:
      - "Funding"
      summary: "Get funding history."
      operationId: "Funding.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Funding"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument:
    get:
      tags:
      - "Instrument"
      summary: "Get instruments."
      description: "This returns all instruments and indices, including those that\
        \ have settled or are unlisted.\nUse this endpoint if you want to query for\
        \ individual instruments or use a complex filter.\nUse `/instrument/active`\
        \ to return active instruments, or use a filter like `{\"state\": \"Open\"\
        }`.\n\nThe instrument type is specified by the `typ` param.\n\n- Perpetual\
        \ Contracts - `FFWCSX`\n- Perpetual Contracts (FX underliers) - `FFWCSF`\n\
        - Spot - `IFXXXP`\n- Futures - `FFCCSX`\n- BitMEX Basket Index - `MRBXXX`\n\
        - BitMEX Crypto Index - `MRCXXX`\n- BitMEX FX Index - `MRFXXX`\n- BitMEX Lending/Premium\
        \ Index - `MRRXXX`\n- BitMEX Volatility Index - `MRIXXX`\n"
      operationId: "Instrument.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Instrument"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument/active:
    get:
      tags:
      - "Instrument"
      summary: "Get all active instruments and instruments that have expired in <24hrs."
      operationId: "Instrument.getActive"
      parameters: []
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Instrument"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument/indices:
    get:
      tags:
      - "Instrument"
      summary: "Get all price indices."
      operationId: "Instrument.getIndices"
      parameters: []
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Instrument"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument/activeAndIndices:
    get:
      tags:
      - "Instrument"
      summary: "Helper method. Gets all active instruments and all indices. This is\
        \ a join of the result of /indices and /active."
      operationId: "Instrument.getActiveAndIndices"
      parameters: []
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Instrument"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument/activeIntervals:
    get:
      tags:
      - "Instrument"
      summary: "Return all active contract series and interval pairs."
      description: "This endpoint is useful for determining which pairs are live.\
        \ It returns two arrays of   strings. The first is intervals, such as `[\"\
        XBT:perpetual\", \"XBT:quarterly\", \"XBT:biquarterly\", \"ETH:quarterly\"\
        , ...]`. These identifiers are usable in any query's `symbol` param. The second\
        \ array is the current resolution of these intervals. Results are mapped at\
        \ the same index."
      operationId: "Instrument.getActiveIntervals"
      parameters: []
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/InstrumentInterval"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument/compositeIndex:
    get:
      tags:
      - "Instrument"
      summary: "Show constituent parts of an index."
      description: "Composite indices are built from multiple external price sources.\n\
        \nUse this endpoint to get the underlying prices of an index. For example,\
        \ send a `symbol` of `.BXBT` to\nget the ticks and weights of the constituent\
        \ exchanges that build the \".BXBT\" index.\n\nA tick with reference `\"BMI\"\
        ` and weight `null` is the composite index tick.\n"
      operationId: "Instrument.getCompositeIndex"
      parameters:
      - name: "symbol"
        in: "query"
        description: "The composite index symbol."
        required: false
        type: "string"
        default: ".BXBT"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IndexComposite"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /instrument/usdVolume:
    get:
      tags:
      - "Instrument"
      summary: "Get a summary of exchange statistics in USD."
      operationId: "Instrument.getUsdVolume"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Filter by symbol."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/StatsUSDBySymbol"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /insurance:
    get:
      tags:
      - "Insurance"
      summary: "Get insurance fund history."
      operationId: "Insurance.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Insurance"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /leaderboard:
    get:
      tags:
      - "Leaderboard"
      summary: "Get current leaderboard."
      operationId: "Leaderboard.get"
      parameters:
      - name: "method"
        in: "query"
        description: "Ranking type. Options: \"notional\", \"ROE\""
        required: false
        type: "string"
        default: "notional"
        x-exportParamName: "Method"
        x-optionalDataType: "String"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Leaderboard"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /leaderboard/name:
    get:
      tags:
      - "Leaderboard"
      summary: "Get your alias on the leaderboard."
      operationId: "Leaderboard.getName"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/inline_response_200"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /liquidation:
    get:
      tags:
      - "Liquidation"
      summary: "Get liquidation orders."
      operationId: "Liquidation.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Liquidation"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /globalNotification:
    get:
      tags:
      - "GlobalNotification"
      summary: "Get your current GlobalNotifications."
      description: "This is an upcoming feature and currently does not return data."
      operationId: "GlobalNotification.get"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GlobalNotification"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /order:
    get:
      tags:
      - "Order"
      summary: "Get your orders."
      description: "To get open orders only, send {\"open\": true} in the filter param.\n\
        \nSee <a href=\"http://www.onixs.biz/fix-dictionary/5.0.SP2/msgType_D_68.html\"\
        >the FIX Spec</a> for explanations of these fields."
      operationId: "Order.getOrders"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Order"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Order"
      summary: "Create a new order."
      description: "## Placing Orders\n\nThis endpoint is used for placing orders.\
        \ See individual fields below for more details on their use.\n\n#### Order\
        \ Types\n\nAll orders require a `symbol`. All other fields are optional except\
        \ when otherwise specified.\n\nThese are the valid `ordType`s:\n\n- **Limit**:\
        \ The default order type. Specify an `orderQty` and `price`.\n- **Market**:\
        \ A traditional Market order. A Market order will execute until filled or\
        \ your bankruptcy price is reached, at\n  which point it will cancel.\n- **Stop**:\
        \ A Stop Market order. Specify an `orderQty` and `stopPx`. When the `stopPx`\
        \ is reached, the order will be entered\n  into the book.\n  - On sell orders,\
        \ the order will trigger if the triggering price is lower than the `stopPx`.\
        \ On buys, higher.\n  - Note: Stop orders do not consume margin until triggered.\
        \ Be sure that the required margin is available in your\n    account so that\
        \ it may trigger fully.\n  - `Close` Stops don't require an `orderQty`. See\
        \ Execution Instructions below.\n- **StopLimit**: Like a Stop Market, but\
        \ enters a Limit order instead of a Market order. Specify an `orderQty`, `stopPx`,\n\
        \  and `price`.\n- **MarketIfTouched**: Similar to a Stop, but triggers are\
        \ done in the opposite direction. Useful for Take Profit orders.\n- **LimitIfTouched**:\
        \ As above; use for Take Profit Limit orders.\n- **Pegged**: Pegged orders\
        \ allow users to submit a limit price relative to the current market price.\
        \ Specify a\n  `pegPriceType`, and `pegOffsetValue`.\n  - Pegged orders **must**\
        \ have an `execInst` of `Fixed`. This means the limit price is set at the\
        \ time the order\n    is accepted and does not change as the reference price\
        \ changes.\n  - `PrimaryPeg`: Price is set relative to near touch price.\n\
        \  - `MarketPeg`: Price is set relative to far touch price.\n  - A `pegPriceType`\
        \ submitted with no `ordType` is treated as a `Pegged` order.\n\n#### Execution\
        \ Instructions\n\nThe following `execInst`s are supported. If using multiple,\
        \ separate with a comma (e.g. `LastPrice,Close`).\n\n- **ParticipateDoNotInitiate**:\
        \ Also known as a Post-Only order. If this order would have executed on placement,\
        \ it will cancel instead.\n  This is intended to protect you from the far\
        \ touch moving towards you while the order is in transit.\n  It is not intended\
        \ for speculating on the far touch moving away after submission - we consider\
        \ such behaviour abusive and monitor for it.\n- **MarkPrice, LastPrice, IndexPrice**:\
        \ Used by stop and if-touched orders to determine the triggering price.\n\
        \  Use only one. By default, `MarkPrice` is used. Also used for Pegged orders\
        \ to define the value of `LastPeg`. IndexPrice is not applicable to spot trading\
        \ symbols.\n- **ReduceOnly**: A `ReduceOnly` order can only reduce your position,\
        \ not increase it. If you have a `ReduceOnly`\n  limit order that rests in\
        \ the order book while the position is reduced by other orders, then its order\
        \ quantity will\n  be amended down or canceled. If there are multiple `ReduceOnly`\
        \ orders the least aggressive will be amended first. Not applicable to spot\
        \ trading symbols.\n- **Close**: `Close` implies `ReduceOnly`. A `Close` order\
        \ will cancel other active limit orders with the same side\n  and symbol if\
        \ the open quantity exceeds the current position. This is useful for stops:\
        \ by canceling these orders, a\n  `Close` Stop is ensured to have the margin\
        \ required to execute, and can only execute up to the full size of your\n\
        \  position. If `orderQty` is not specified, a `Close` order has an `orderQty`\
        \ equal to your current position's size. Not applicable to spot trading symbols.\n\
        \  - Note that a `Close` order without an `orderQty` requires a `side`, so\
        \ that BitMEX knows if it should trigger\n    above or below the `stopPx`.\n\
        - **LastWithinMark**: Used by stop orders with `LastPrice` to allow stop triggers\
        \ only when:\n  - For Sell Stop Market / Stop Limit Order\n    - Last Price\
        \ &lt= Stop Price\n    - Last Price &gt= Mark Price × (1 - 5%)\n  - For Buy\
        \ Stop Market / Stop Limit Order:\n    - Last Price &gt= Stop Price\n    -\
        \ Last Price &lt= Mark Price × (1 + 5%)\n  - Not applicable to spot trading\
        \ symbols.\n- **Fixed**: Pegged orders **must** have an `execInst` of `Fixed`.\
        \ This means the limit price is set at the time\n  the order is accepted and\
        \ does not change as the reference price changes.\n\n#### Pegged Orders\n\n\
        Pegged orders allow users to submit a limit price relative to the current\
        \ market price.\nThe limit price is set once when the order is submitted and\
        \ does not change with the reference price.\nThis order type is not intended\
        \ for speculating on the far touch moving away after submission - we consider\
        \ such behaviour abusive and monitor for it.\n\nPegged orders have an `ordType`\
        \ of `Pegged`, and an `execInst` of `Fixed`.\n\nA `pegPriceType` and `pegOffsetValue`\
        \ must also be submitted:\n\n- `PrimaryPeg` - price is set relative to the\
        \ **near touch** price\n- `MarketPeg` - price is set relative to the **far\
        \ touch** price\n\n#### Trailing Stop Pegged Orders\n\nUse `pegPriceType`\
        \ of `TrailingStopPeg` to create Trailing Stops.\n\nThe price is set at submission\
        \ and updates once per second if the underlying price (last/mark/index) has\
        \ moved by\nmore than 0.1%. `stopPx` then moves as the market moves away from\
        \ the peg, and freezes as the market moves toward it.\n\nUse `pegOffsetValue`\
        \ to set the `stopPx` of your order. The peg is set to the triggering price\
        \ specified in the\n`execInst` (default `MarkPrice`). Use a negative offset\
        \ for stop-sell and buy-if-touched orders.\n\nRequires `ordType`: `Stop`,\
        \ `StopLimit`, `MarketIfTouched`, `LimitIfTouched`.\n\n#### Linked Orders\n\
        \nLinked Orders are an advanced capability. It is very powerful, but its use\
        \ requires careful coding and testing.\nPlease follow this document carefully\
        \ and use the [Testnet Exchange](https://testnet.bitmex.com) while developing.\n\
        \nBitMEX offers four advanced Linked Order types:\n\n- **OCO**: _One Cancels\
        \ the Other_. A very flexible version of the standard Stop / Take Profit technique.\n\
        \  Multiple orders may be linked together using a single `clOrdLinkID`. Send\
        \ a `contingencyType` of\n  `OneCancelsTheOther` on the orders. The first\
        \ order that fully or partially executes (or activates\n  for `Stop` orders)\
        \ will cancel all other orders with the same `clOrdLinkID`.\n- **OTO**: _One\
        \ Triggers the Other_. Send a `contingencyType` of `'OneTriggersTheOther'`\
        \ on the primary order and\n  then subsequent orders with the same `clOrdLinkID`\
        \ will be not be triggered until the primary order fully executes.\n\n####\
        \ Trailing Stops\n\nYou may use `pegPriceType` of `'TrailingStopPeg'` to create\
        \ Trailing Stops. The pegged `stopPx` will move as the market\nmoves away\
        \ from the peg, and freeze as the market moves toward it.\n\nTo use, combine\
        \ with `pegOffsetValue` to set the `stopPx` of your order. The peg is set\
        \ to the triggering price\nspecified in the `execInst` (default `'MarkPrice'`).\
        \ Use a negative offset for stop-sell and buy-if-touched orders.\n\nRequires\
        \ `ordType`: `'Stop', 'StopLimit', 'MarketIfTouched', 'LimitIfTouched'`.\n\
        \n#### Simple Quantities\n\n[Simple Quantities are deprecated as of 2018/10/26](https://blog.bitmex.com/api_announcement/deprecation-of-simpleorderqty-functionality/)\n\
        \n#### Rate Limits\n\nYou can improve your reactivity to market movements\
        \ while staying under your rate limit by using the\n[Amend](#!/Order/Order_amend)\
        \ endpoint (PUT /order). This allows you to stay\nin the market and avoids\
        \ the cancel/replace cycle.\n\n#### Tracking Your Orders\n\nIf you want to\
        \ keep track of order IDs yourself, set a unique `clOrdID` per order.\nThis\
        \ `clOrdID` will come back as a property on the order and any related executions\
        \ (including on the WebSocket),\nand can be used to get or cancel the order.\
        \ Max length is 36 characters.\n\nYou can also change the `clOrdID` by amending\
        \ an order, supplying an `origClOrdID`, and your desired new\nID as the `clOrdID`\
        \ param, like so:\n\n```\n# Amends an order's leavesQty, and updates its clOrdID\
        \ to \"def-456\"\nPUT /api/v1/order {\"origClOrdID\": \"abc-123\", \"clOrdID\"\
        : \"def-456\", \"leavesQty\": 1000}\n```\n"
      operationId: "Order.new"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Instrument symbol. e.g. 'XBTUSD'."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "side"
        in: "formData"
        description: "Order side. Valid options: Buy, Sell. Defaults to 'Buy' unless\
          \ `orderQty` is negative."
        required: false
        type: "string"
        x-exportParamName: "Side"
        x-optionalDataType: "String"
      - name: "simpleOrderQty"
        in: "formData"
        description: "Deprecated: simple orders are not supported after 2018/10/26"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "SimpleOrderQty"
        x-optionalDataType: "Float64"
      - name: "orderQty"
        in: "formData"
        description: "Order quantity in units of the instrument (i.e. contracts, for\
          \ spot it is base currency in minor currency for spot (e.g. XBt quantity\
          \ for XBT))."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderQty"
        x-optionalDataType: "Int32"
      - name: "price"
        in: "formData"
        description: "Optional limit price for 'Limit', 'StopLimit', and 'LimitIfTouched'\
          \ orders."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Price"
        x-optionalDataType: "Float64"
      - name: "displayQty"
        in: "formData"
        description: "Optional quantity to display in the book. Use 0 for a fully\
          \ hidden order."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "DisplayQty"
        x-optionalDataType: "Int32"
      - name: "stopPx"
        in: "formData"
        description: "Optional trigger price for 'Stop', 'StopLimit', 'MarketIfTouched',\
          \ and 'LimitIfTouched' orders. Use a price below the current price for stop-sell\
          \ orders and buy-if-touched orders. Use `execInst` of 'MarkPrice' or 'LastPrice'\
          \ to define the current price used for triggering."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopPx"
        x-optionalDataType: "Float64"
      - name: "clOrdID"
        in: "formData"
        description: "Optional Client Order ID. This clOrdID will come back on the\
          \ order and any related executions."
        required: false
        type: "string"
        x-exportParamName: "ClOrdID"
        x-optionalDataType: "String"
      - name: "clOrdLinkID"
        in: "formData"
        description: "Optional Client Order Link ID for contingent orders"
        required: false
        type: "string"
        x-exportParamName: "ClOrdLinkID"
        x-optionalDataType: "String"
      - name: "pegOffsetValue"
        in: "formData"
        description: "Optional trailing offset from the current price for 'Stop',\
          \ 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders; use a negative\
          \ offset for stop-sell orders and buy-if-touched orders. Optional offset\
          \ from the peg price for 'Pegged' orders."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "PegOffsetValue"
        x-optionalDataType: "Float64"
      - name: "pegPriceType"
        in: "formData"
        description: "Optional peg price type. Valid options: MarketPeg, PrimaryPeg,\
          \ TrailingStopPeg."
        required: false
        type: "string"
        x-exportParamName: "PegPriceType"
        x-optionalDataType: "String"
      - name: "ordType"
        in: "formData"
        description: "Order type. Valid options: Market, Limit, Stop, StopLimit, MarketIfTouched,\
          \ LimitIfTouched, Pegged. Defaults to 'Limit' when `price` is specified.\
          \ Defaults to 'Stop' when `stopPx` is specified. Defaults to 'StopLimit'\
          \ when `price` and `stopPx` are specified."
        required: false
        type: "string"
        default: "Limit"
        x-exportParamName: "OrdType"
        x-optionalDataType: "String"
      - name: "timeInForce"
        in: "formData"
        description: "Time in force. Valid options: Day, GoodTillCancel, ImmediateOrCancel,\
          \ FillOrKill. Defaults to 'GoodTillCancel' for 'Limit', 'StopLimit', and\
          \ 'LimitIfTouched' orders."
        required: false
        type: "string"
        x-exportParamName: "TimeInForce"
        x-optionalDataType: "String"
      - name: "execInst"
        in: "formData"
        description: "Optional execution instructions. Valid options: ParticipateDoNotInitiate,\
          \ AllOrNone, MarkPrice, IndexPrice, LastPrice, Close, ReduceOnly, Fixed,\
          \ LastWithinMark. 'AllOrNone' instruction requires `displayQty` to be 0.\
          \ 'MarkPrice', 'IndexPrice' or 'LastPrice' instruction valid for 'Stop',\
          \ 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders. 'LastWithinMark'\
          \ instruction valid for 'Stop' and 'StopLimit' with instruction 'LastPrice'.\
          \ IndexPrice, LastWithMark, Close and ReduceOnly are not applicable to spot\
          \ trading symbols."
        required: false
        type: "string"
        x-exportParamName: "ExecInst"
        x-optionalDataType: "String"
      - name: "contingencyType"
        in: "formData"
        description: "Optional contingency type for use with `clOrdLinkID`. Valid\
          \ options: OneCancelsTheOther, OneTriggersTheOther."
        required: false
        type: "string"
        x-exportParamName: "ContingencyType"
        x-optionalDataType: "String"
      - name: "text"
        in: "formData"
        description: "Optional order annotation. e.g. 'Take profit'."
        required: false
        type: "string"
        x-exportParamName: "Text"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Order"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
    put:
      tags:
      - "Order"
      summary: "Amend the quantity or price of an open order."
      description: "Send an `orderID` or `origClOrdID` to identify the order you wish\
        \ to amend.\n\nBoth order quantity and price can be amended. Only one `qty`\
        \ field can be used to amend.\n\nUse the `leavesQty` field to specify how\
        \ much of the order you wish to remain open. This can be useful\nif you want\
        \ to adjust your position's delta by a certain amount, regardless of how much\
        \ of the order has\nalready filled.\n\n> A `leavesQty` can be used to make\
        \ a \"Filled\" order live again, if it is received within 60 seconds of the\
        \ fill.\n"
      operationId: "Order.amend"
      parameters:
      - name: "orderID"
        in: "formData"
        description: "Order ID"
        required: false
        type: "string"
        x-exportParamName: "OrderID"
        x-optionalDataType: "String"
      - name: "origClOrdID"
        in: "formData"
        description: "Client Order ID. See POST /order."
        required: false
        type: "string"
        x-exportParamName: "OrigClOrdID"
        x-optionalDataType: "String"
      - name: "clOrdID"
        in: "formData"
        description: "Optional new Client Order ID, requires `origClOrdID`."
        required: false
        type: "string"
        x-exportParamName: "ClOrdID"
        x-optionalDataType: "String"
      - name: "simpleOrderQty"
        in: "formData"
        description: "Deprecated: simple orders are not supported after 2018/10/26"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "SimpleOrderQty"
        x-optionalDataType: "Float64"
      - name: "orderQty"
        in: "formData"
        description: "Optional order quantity in units of the instrument (i.e. contracts,\
          \ for spot it is the base currency in minor currency (e.g. XBt quantity\
          \ for XBT))."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderQty"
        x-optionalDataType: "Int32"
      - name: "simpleLeavesQty"
        in: "formData"
        description: "Deprecated: simple orders are not supported after 2018/10/26"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "SimpleLeavesQty"
        x-optionalDataType: "Float64"
      - name: "leavesQty"
        in: "formData"
        description: "Optional leaves quantity in units of the instrument (i.e. contracts,\
          \ for spot it is the base currency in minor currency (e.g. XBt quantity\
          \ for XBT)). Useful for amending partially filled orders."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "LeavesQty"
        x-optionalDataType: "Int32"
      - name: "price"
        in: "formData"
        description: "Optional limit price for 'Limit', 'StopLimit', and 'LimitIfTouched'\
          \ orders."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Price"
        x-optionalDataType: "Float64"
      - name: "stopPx"
        in: "formData"
        description: "Optional trigger price for 'Stop', 'StopLimit', 'MarketIfTouched',\
          \ and 'LimitIfTouched' orders. Use a price below the current price for stop-sell\
          \ orders and buy-if-touched orders."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopPx"
        x-optionalDataType: "Float64"
      - name: "pegOffsetValue"
        in: "formData"
        description: "Optional trailing offset from the current price for 'Stop',\
          \ 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders; use a negative\
          \ offset for stop-sell orders and buy-if-touched orders. Optional offset\
          \ from the peg price for 'Pegged' orders."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "PegOffsetValue"
        x-optionalDataType: "Float64"
      - name: "text"
        in: "formData"
        description: "Optional amend annotation. e.g. 'Adjust skew'."
        required: false
        type: "string"
        x-exportParamName: "Text"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Order"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
    delete:
      tags:
      - "Order"
      summary: "Cancel order(s). Send multiple order IDs to cancel in bulk."
      description: "Either an orderID or a clOrdID must be provided."
      operationId: "Order.cancel"
      parameters:
      - name: "orderID"
        in: "formData"
        description: "Order ID(s)."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "OrderID"
        x-optionalDataType: "String"
      - name: "clOrdID"
        in: "formData"
        description: "Client Order ID(s). See POST /order."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "ClOrdID"
        x-optionalDataType: "String"
      - name: "text"
        in: "formData"
        description: "Optional cancellation annotation. e.g. 'Spread Exceeded'."
        required: false
        type: "string"
        x-exportParamName: "Text"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Order"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /order/closePosition:
    post:
      tags:
      - "Order"
      summary: "Close a position. [Deprecated, use POST /order with execInst: 'Close']"
      description: "If no `price` is specified, a market order will be submitted to\
        \ close the whole of your position. This will also close all other open orders\
        \ in this symbol."
      operationId: "Order.closePosition"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Symbol of position to close."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "price"
        in: "formData"
        description: "Optional limit price."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Price"
        x-optionalDataType: "Float64"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Order"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /order/all:
    delete:
      tags:
      - "Order"
      summary: "Cancels all of your orders."
      operationId: "Order.cancelAll"
      parameters:
      - name: "targetAccountIds"
        in: "formData"
        description: "AccountIds to cancel all orders, must be a paired account with\
          \ main user. Also accepts wildcard, [*], this will cancel all orders for\
          \ all accounts. the authenticated user has order write permissions for."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "TargetAccountIds"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        description: "Optional symbol. If provided, only cancels orders for that symbol."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "formData"
        description: "Optional filter for cancellation. Use to only cancel some orders,\
          \ e.g. `{\"side\": \"Buy\"}`."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "text"
        in: "formData"
        description: "Optional cancellation annotation. e.g. 'Spread Exceeded'"
        required: false
        type: "string"
        x-exportParamName: "Text"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Order"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /order/cancelAllAfter:
    post:
      tags:
      - "Order"
      summary: "Automatically cancel all your orders after a specified timeout."
      description: "Useful as a dead-man's switch to ensure your orders are canceled\
        \ in case of an outage.\nIf called repeatedly, the existing offset will be\
        \ canceled and a new one will be inserted in its place.\n\nExample usage:\
        \ call this route at 15s intervals with an offset of 60000 (60s).\nIf this\
        \ route is not called within 60 seconds, all your orders will be automatically\
        \ canceled.\n\nThis is also available via [WebSocket](https://www.bitmex.com/app/wsAPI#Dead-Mans-Switch-Auto-Cancel).\n"
      operationId: "Order.cancelAllAfter"
      parameters:
      - name: "timeout"
        in: "formData"
        description: "Timeout in ms. Set to 0 to cancel this timer. "
        required: true
        type: "number"
        format: "double"
        x-exportParamName: "Timeout"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "object"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /orderBook/L2:
    get:
      tags:
      - "OrderBook"
      summary: "Get current orderbook in vertical format."
      operationId: "OrderBook.getL2"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a series (e.g. XBT) to get data for\
          \ the nearest contract in that series."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "depth"
        in: "query"
        description: "Orderbook depth per side. Send 0 for full depth."
        required: false
        type: "integer"
        default: 25
        minimum: 0
        format: "int32"
        x-exportParamName: "Depth"
        x-optionalDataType: "Int32"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrderBookL2"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /position:
    get:
      tags:
      - "Position"
      summary: "Get your positions."
      description: "This endpoint is used for retrieving position information. The\
        \ fields largely follow the [FIX spec](http://www.onixs.biz/fix-dictionary/5.0.SP2/msgType_AP_6580.html)\
        \ definitions. Some selected fields are explained in more detail below.\n\n\
        The fields _account_, _symbol_, _currency_ are unique to each position and\
        \ form its key.\n\nSpot trading symbols returns a subset of the position fields,\
        \ mainly the open order aggregates.\n\n- **account**: Your unique account\
        \ ID.\n- **symbol**: The contract for this position.\n- **currency**: The\
        \ margin currency for this position.\n- **underlying**: Meta data of the _symbol_.\n\
        - **quoteCurrency**: Meta data of the _symbol_, All prices are in the _quoteCurrency_\n\
        - **commission**: The maximum of the maker, taker, and settlement fee.\n-\
        \ **initMarginReq**: The initial margin requirement. This will be at least\
        \ the symbol's default initial maintenance margin, but can be higher if you\
        \ choose lower leverage.\n- **maintMarginReq**: The maintenance margin requirement.\
        \ This will be at least the symbol's default maintenance maintenance margin,\
        \ but can be higher if you choose a higher risk limit.\n- **riskLimit**: This\
        \ is a function of your _maintMarginReq_.\n- **leverage**: 1 / initMarginReq.\n\
        - **crossMargin**: True/false depending on whether you set cross margin on\
        \ this position.\n- **deleveragePercentile**: Indicates where your position\
        \ is in the ADL queue.\n- **rebalancedPnl**: The value of realised PNL that\
        \ has transferred to your wallet for this position.\n- **prevRealisedPnl**:\
        \ The value of realised PNL that has transferred to your wallet for this position\
        \ since the position was closed.\n- **currentQty**: The current position amount\
        \ in contracts.\n- **currentCost**: The current cost of the position in the\
        \ settlement currency of the symbol (_currency_).\n- **currentComm**: The\
        \ current commission of the position in the settlement currency of the symbol\
        \ (_currency_).\n- **realisedCost**: The realised cost of this position calculated\
        \ with regard to average cost accounting.\n- **unrealisedCost**: _currentCost_\
        \ - _realisedCost_.\n- **grossOpenPremium**: The amount your bidding above\
        \ the mark price in the settlement currency of the symbol (_currency_).\n\
        - **markPrice**: The mark price of the symbol in _quoteCurrency_.\n- **markValue**:\
        \ The _currentQty_ at the mark price in the settlement currency of the symbol\
        \ (_currency_).\n- **homeNotional**: Value of position in units of _underlying_.\n\
        - **foreignNotional**: Value of position in units of _quoteCurrency_.\n- **realisedPnl**:\
        \ The negative of _realisedCost_.\n- **unrealisedPnl**: _unrealisedGrossPnl_.\n\
        - **liquidationPrice**: Once markPrice reaches this price, this position will\
        \ be liquidated.\n- **bankruptPrice**: Once markPrice reaches this price,\
        \ this position will have no equity.\n"
      operationId: "Position.get"
      parameters:
      - name: "filter"
        in: "query"
        description: "Table filter. For example, send {\"symbol\": \"XBTUSD\"}."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Which columns to fetch. For example, send [\"columnName\"]."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of rows to fetch."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Position"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /position/isolate:
    post:
      tags:
      - "Position"
      summary: "Enable isolated margin or cross margin per-position."
      description: "Users can switch isolate margin per-position. This function allows\
        \ switching margin isolation (aka fixed margin) on and off."
      operationId: "Position.isolateMargin"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Position symbol to isolate."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "enabled"
        in: "formData"
        description: "True for isolated margin, false for cross margin."
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Enabled"
        x-optionalDataType: "Bool"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Position"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /position/riskLimit:
    post:
      tags:
      - "Position"
      summary: "Update your risk limit."
      description: "Risk Limits limit the size of positions you can trade at various\
        \ margin levels. Larger positions require more margin. Please see the Risk\
        \ Limit documentation for more details."
      operationId: "Position.updateRiskLimit"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Symbol of position to update risk limit on."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "riskLimit"
        in: "formData"
        description: "New Risk Limit, in Satoshis."
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "RiskLimit"
      - name: "targetAccountId"
        in: "formData"
        description: "AccountId for the position that the risk limit would be updated\
          \ on, must be a paired account with main user."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TargetAccountId"
        x-optionalDataType: "Float64"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Position"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /position/transferMargin:
    post:
      tags:
      - "Position"
      summary: "Transfer equity in or out of a position."
      description: "When margin is isolated on a position, use this function to add\
        \ or remove margin from the position. Note that you cannot remove margin below\
        \ the initial margin threshold."
      operationId: "Position.transferIsolatedMargin"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Symbol of position to isolate."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "amount"
        in: "formData"
        description: "Amount to transfer, in Satoshis. May be negative."
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Amount"
      - name: "targetAccountId"
        in: "formData"
        description: "AccountId for the position that the margin would be transfered\
          \ to, must be a paired account with main user."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TargetAccountId"
        x-optionalDataType: "Float64"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Position"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /position/leverage:
    post:
      tags:
      - "Position"
      summary: "Choose leverage for a position."
      description: "Users can choose an isolated leverage. This will automatically\
        \ enable isolated margin."
      operationId: "Position.updateLeverage"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Symbol of position to adjust."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "leverage"
        in: "formData"
        description: "Leverage value. Send a number between 0.01 and 100 to enable\
          \ isolated margin with a fixed leverage. Send 0 to enable cross margin."
        required: true
        type: "number"
        format: "double"
        x-exportParamName: "Leverage"
      - name: "targetAccountId"
        in: "formData"
        description: "AccountId for the position that the leverage would be changed\
          \ on, must be a paired account with main user."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TargetAccountId"
        x-optionalDataType: "Float64"
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            $ref: "#/definitions/Position"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /quote:
    get:
      tags:
      - "Quote"
      summary: "Get Quotes."
      operationId: "Quote.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Quote"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Access Denied"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
  /quote/bucketed:
    get:
      tags:
      - "Quote"
      summary: "Get previous quotes in time buckets."
      description: "Timestamps returned by our bucketed endpoints are the **end**\
        \ of the period, indicating when the bucket was written to disk. Some other\
        \ common systems use the timestamp as the beginning of the period. Please\
        \ be aware of this when using this endpoint."
      operationId: "Quote.getBucketed"
      parameters:
      - name: "binSize"
        in: "query"
        description: "Time interval to bucket by. Available options: [1m,5m,1h,1d]."
        required: false
        type: "string"
        default: "1m"
        x-exportParamName: "BinSize"
        x-optionalDataType: "String"
      - name: "partial"
        in: "query"
        description: "If true, will send in-progress (incomplete) bins for the current\
          \ time period."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Partial"
        x-optionalDataType: "Bool"
      - name: "symbol"
        in: "query"
        description: "Instrument symbol. Send a bare series (e.g. XBT) to get data\
          \ for the nearest expiring contract in that series.\n\nYou can also send\
          \ a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`,\
          \ `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\n\
          Symbols are case-insensitive."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "filter"
        in: "query"
        description: "Generic table filter. Send JSON key/value pairs, such as `{\"\
          key\": \"value\"}`. You can key on individual fields, and do more advanced\
          \ querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters)\
          \ for more details."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "columns"
        in: "query"
        description: "Array of column names to fetch. If omitted, will return all\
          \ columns.\n\nNote that this method will always return item keys, even when\
          \ not specified, so you may receive more columns that you expect."
        required: false
        type: "string"
        format: "JSON"
        x-exportParamName: "Columns"
        x-optionalDataType: "String"
      - name: "count"
        in: "query"
        description: "Number of results to fetch. Must be a positive integer."
        required: false
        type: "integer"
        default: 100
        format: "int32"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "start"
        in: "query"
        description: "Starting point for results."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "reverse"
        in: "query"
        description: "If true, will sort results newest first."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Reverse"
        x-optionalDataType: "Bool"
      - name: "startTime"
        in: "query"
        description: "Starting date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Time"
      - name: "endTime"
        in: "query"
        description: "Ending date filter for results."
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Time"
      security: []
      deprecated: false
      responses:
        "200":
          description: "Request was successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Quote"
        "400":
          description: "Parameter Error"
          schema:
            $ref: "#/definitions/Error"
        "401":
[...]
